<html>
    <head>
        <style>

        </style>
    </head>
    <body>

        <h2>Hello {{lastName}},</h2>
            <p>You are receiving this email because you requested a password reset for your account.</p>
            <p>This link is valid for 1 hr.</p>
            <p>Please click the following link to reset your password:</p>
            <a href="//https://{{link}}">Reset Password</a>
            <p>If you didn't request this, please ignore this email.</p>
            <p>Trackito team</p>
    </body>
</html>